/* PublicNav.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.navLinks {
    display: flex;
    gap: 1rem;
}

.navLink {
    color: #fff;
    text-decoration: none;
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.navLink:hover {
    color: #ddd;
}
