/* PublicLayout.module.css */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex: 1 0 auto;
    overflow: auto;
    margin-top: 64px; /* Adjust as per your nav height */
}

.sidebar {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    overflow: auto;
    background: #333;
    color: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.sidebarOpen {
    transform: translateX(0);
}

.sidebarLink {
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
}

.sidebarLink:hover {
    background: #444;
}

.hamburger {
    position: fixed;
    right: 20px; /* Adjust as needed */
    top: 20px; /* Adjust as needed */
    z-index: 1000; /* Adjust as needed */
    background: none;
    border: none;
    color: #333; /* Adjust color as needed */
    font-size: 2em; /* Adjust size as needed */
}


@media (min-width: 768px) {
    .main {
        flex: 1 0 auto;
    }
}
